[submodule "cookbook/java"]
	path = cookbook/java
	url = https://github.com/opscode-cookbooks/java.git
[submodule "cookbook/apt"]
	path = cookbook/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "cookbook/sqlite"]
	path = cookbook/sqlite
	url = https://github.com/opscode-cookbooks/sqlite.git
[submodule "cookbook/git"]
	path = cookbook/git
	url = https://github.com/opscode-cookbooks/git.git
[submodule "cookbook/chef-sbt"]
	path = cookbook/chef-sbt
	url = https://github.com/farmdawgnation/chef-sbt.git
[submodule "cookbook/chef-typesafe-stack"]
	path = cookbook/chef-typesafe-stack
	url = https://github.com/gildegoma/chef-typesafe-stack.git
